*
{
    margin: 0;
    padding: 0;
    border-block: auto;
}
body
{
    background-color: rgb(59, 172, 153);
}

header
{
    text-align: center;
    background-color: white;
    padding: 15px;
}
h1
{
    color: black;
    background-color: rgb(59, 172, 153);
    margin: -20px;
    padding: 25px;
    text-align: center;
    font-size:  35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p
{
    text-align: center;
    font-size:  24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container
{
   text-align: center;
   padding: 20px;
}
.button
    {
        display: inline-block;
        width: 100px;
        height: 100px;
        padding: 20px;
    }

    #rock
    {
        font-size:  25px;
        padding: 25px 20px;
        color: black;
    }

    #paper
    {
        font-size: 25px;
        padding: 25px 20px;
        color: black;
    }

    #scissors
    {
        font-size: 25px;
        padding: 25px 20px;
        color: black;
    }

    #totalScore
    {
        align-content: center;
    }