*
{
    margin: 0;
    padding: 0;
    border-block: auto;
}

body
{
    background-color: black;
}

header
{
    padding: 15px;
}

h1
{
    color: black;
    background-color: rgb(59, 172, 153);
    margin: -20px;
    padding: 25px;
    text-align: center;
    font-size:  35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* p
{
    text-align: center;
    font-size:  24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

#button-container
{
    display: center;
    text-align: center;
    padding-top: 10rem;
    height: 2rem;
}
.buttons
    {
        height: 5rem;
        width: 9rem;
        margin: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
    }

#gameTotal
{

    display: block;
    margin-top: 8rem;
    text-align: center;
    font-size: 2rem;
    color: white;
}