
body
{
    background-color: rgba(24, 30, 24, 1);}

header
{
    text-align: center;
}

h1
{
    color: white;
    background-color: rgb(59, 172, 153);
    margin: -20px;
    padding: 25px;
    text-align: center;
    font-size:  35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#scores
{
    border: white dashed 0.5rem;
    display: flex;
    color: white;
    padding: 1.5rem;
    justify-content: space-around;
    background-color: gray;
    font-size: 1.15rem;
    height: 5rem;
}

#playerTotal
{
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    /* background-color: red; */
}

#computerTotal
{
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    /* background-color: green; */
}

#roundResults
{
    background-color: salmon;
    border: red solid 1rem;
    display: block;
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 2rem;
}

#button-container
{
    background-color: silver;
    border: white dashed 0.5rem;
    text-align: center;
    margin-top: 2rem;
}

.buttons
    {
        height: 5rem;
        width: 9rem;
        margin: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
    }

#gameTotal
{
    background-color: white;
    display: block;
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
    color: white;
}